
__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/


*.log
*.tmp
*.swp
*.swo


*.egg-info/
.dist/
build/
dist/
.eggs/
.cache/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/


*.ipynb_checkpoints
.ipynb_checkpoints/


.vscode/


.idea/


.DS_Store


Thumbs.db
Desktop.ini


data/*.csv
data/*.pkl


models/*.pkl